## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.*latexmk
*.ps
# SonarLint files
/.idea/sonarlint/*

!template/latex_cc_example2022.tex
!template/latex_cc_template2022.tex
!template/acbl2022cc.sty
